<a href="https://colab.research.google.com/github/jmcarlet1008/58053_404-_RevistingPython/blob/main/58053_404!_RevistingPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
By:
    *Carlet, Johnmhyr D.
    Cerbito, Alyssa Joyce J.
    Datay, Danica Mae L.
    Tagalog, Flor-ann B.*
    Â© 2021 
    
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

Variable is any placeholder used to contain or represent a given value. Additionally, a variable is a data item whose value can change during the program's execution. Thus, as its name implies - the value can vary [1]. Data type, as it names indicates, dictates what kind of data the variable holds.
If a variable holds a text string, the data type will be String however, if a variable contains whole numbers, the data type will be Integer.

The following are more examples of data type that variables can hold:


*   Boolean - True or False Value
*   Float - Numbers with decimals

In [ ]:
name = "Group 404!"
name

'Group 404!'

In [ ]:
type(name)

str

The codes presented above show the variable 'name' where it contains the data "Group 404!", and in the second line, it denotes what kind of data type the user entered. When a user wants to assign a *string data type*, you must not forget to place quotation marks before and after the word to avoid errors. Quotation marks is a sign that the user is using a *string data type*

In [ ]:
student_no = 201815222
type(student_no)

int


The code above shows an *integer data type*. To assign an *integer data type* to your data, the user should enter a whole number without any decimal and quotation marks. The program would be able to identify it rapidly that it is an *integer*

In [ ]:
fact = True
type(fact)

bool

The code above shows a *boolean data type*. A *boolean data type* denotes a true and false value. *Boolean data type* is usually used in condition statements or to questions that answers yes or no. The program will identify the data as Boolean when there are no quotation marks and if the user input "True" and "False" data where the first letter is in their capital form only.

In [ ]:
dollar, peso, x = 1, 48.50, "Convertion"
type(dollar)

int

In [ ]:
type(peso)

float

Users can also input as many variables they want in a single line containing their respective data.

## Operations

### Arithmetic

Aritmetic or Arithmetic operators are used to perform mathematical operation such as addition, subtraction, multiplication, division, etc., [5]

In [ ]:
 ## putting values on variable z, x, c, and v.
z, x, c, v = -56, 2.5, -20, 5

In [ ]:
#Addition
a = c + z + x
a

-73.5

' + ' is an arithmetic operator that adding 2 or more operands. [5]

In [ ]:
#Subtraction
s = c - v - z
s

31

' - ' is an arithmetic operator that subtract 2 or more operands. [5]

In [ ]:
#Multiplication
m = x * c * c
m

1000.0

' * ' is an arithmetic operator that multiply 2 or more operands. [5]

In [ ]:
#Division
d = z/x
d

-22.4

' / ' is an arithmetic operator that divide the first operand to the second operand. [5]

In [ ]:
#Floor Division
f = z//x
f

-23.0

' // ' is an arithmetic operator that divide the first operand to the second operand. The difference of division to floor division is that the result of floor division is a whole number [5]. If the decimal is 1-4, the answer will rounded off but if the decimal is 5-9, the answer will not rounded off.

In [ ]:
#Exponentiation
e = v**x
e

55.90169943749474

' ** ' is an arithmetic operator that raise the second operand to the first operand. [5]

In [ ]:
#Modulo
M = c%v
M

0

' % ' is an arithmetic operator that returns the remainder when first operand is divided by the second operand.

### Assignment Operations

Assignment operators are used to assigning values to existing variable. [6]

In [ ]:
## putting values on variable U, I, O, and P.
U, I, O, P = 9, 72, 17, 3

In [ ]:
U += v
U

14

This operator add the value of variable U which is 9 to the value of variable v which is 5 then assign the answer to variable U.

In [ ]:
I -= c
I

92

This operator subtract the value of variable I which is 72 to the value of variable c which is -20 then assign the answer to variable I.

In [ ]:
O *= x
O

42.5

This operator multiply the value of variable O which is 17 to the value of variable x which is 2.5 then assign the answer to variable O.

In [ ]:
P **= z
P

1.910775814949984e-27

This operator raise the value of variable z which is -56 to the value of variable P which is 3 then assign the answer to variable P.

### Comparators

Comparators or **Comparison Operators**, sometimes being called as **Relational Operators**, uses the two values on its both sides and compare them to get the relation between them. [4]

In [ ]:
a, b, c = 2, 3, 2

After initializing the variables, we will proceed to exploring the different *comparators*.

First, is the equality:

In [ ]:
## Equality
if (a == c):
  print('equal')
else:
  print('not equal')

equal

We can observe in the code snippet above, that the if statement asks if the two variables are equal and returns a true value if it is.

In [ ]:
## Non-equality
if (a != b):
  print('not equal')
else:
  print('dunno')

not equal

While here on the inequality, the if statement resulted in a non equal value which used the code inside the if statement and printed a *'not equal'* result.

In [ ]:
## Inequality
if (a < b):
  print(a,'is less than',b)
else:
  print(a,'is not less than obv',b)

if (b > a):
  print(b,'is greater than',a)
else:
  print(b,'is not greater than obv',b)

2 is less than 3
3 is greater than 2

Here in exploring the two types of Inequality which is the greater than and the less than, the two values in the variables being used are 2 and 3, which are being illustrated where one is less than or smaller and on the another statement one is greater than or bigger.

The same conclusion can be stated in the code below where the only thing that varies is that it also checks if the value is equal to each other.

In [ ]:
## Inequality and Equality
if (a <= c):
  print(a,'is less than or equal',c)
else:
  print(a,'is not less than obv',c)

if (b >= a):
  print(b,'is greater than or equal',a)
else:
  print(b,'is not greater than obv',b)

2 is less than or equal 2
3 is greater than or equal 2

### Logical

Operators are used to perform operations on values and variables. These are the special symbols that carry out arithmetic and logical computations. The value the operator operates on is known as Operand. [8]

In [ ]:
b, n = 1, 1
if b and n:
  print("True")
else:
  print("False")

True

' and ' is a logical operator that will give you an output 'True' if the given input is both true. In layman's term,



1.   1 & 1 = 1
2.   1 & 0 = 0
3.   0 & 1 = 0
4.   0 & 0 = 0


As you can see at the code snippet above, the value of variables is both true, so the given output is True.

Note: In logical Operations, 1 is True and 0 is False.

In [ ]:
m, Y = 1, 0
if m or Y:
  print("True")
else:
  print("False")

True

' or ' is a logical operator that will give you an output 'True' if one or both given input is true. In layman's term,



1.   1 & 1 = 1
2.   1 & 0 = 1
3.   0 & 1 = 1
4.   0 & 0 = 0


As you can see at the code snippet above, the value of variables are true and false, so the given output is True.

Note: In logical Operations, 1 is True and 0 is False.

In [ ]:
T, D = 0, 1
if not(T and D):
  print("True")
else:
  print("False")

True

' nand ' is a logical operator that will invert the given value of 'and' give you an output 'False' if the given input is both True. In layman's term,



1.   1 & 1 = 0
2.   1 & 0 = 1
3.   0 & 1 = 1
4.   0 & 0 = 1


As you can see at the code snippet above, the value of variables are false and true, so the given output is True. If you will notice, the given list on 'and' operator is inverted on 'nand' operator.

Note: In logical Operations, 1 is True and 0 is False.

In [ ]:
K, M = 0, 0
if not(K or M):
  print("True")
else:
  print("False")

True

' nor ' is a logical operator that will invert the given value of 'or' give you an output 'True' if the given input is both False. In layman's term,



1.   1 & 1 = 0
2.   1 & 0 = 0
3.   0 & 1 = 0
4.   0 & 0 = 1


As you can see at the code snippet above, the value of variables are both false, so the given output is True. If you will notice, the given list on 'or' operator is inverted on 'nor' operator.

Note: In logical Operations, 1 is True and 0 is False.

### I/O

Using Input and Output Operations helps the developer on how we can take inputs from users and how to show it to them. Since there are program that requires a data from users.

In [ ]:
crush = input("enter the name of your crush: ")
crush

enter the name of your crush: Nishimura Riki

'Nishimura Riki'

In the example above, given the variable "crush" whatever the user input, it will automatically print the input.

In [ ]:
score = 89.1234
name = "Harry"
print("Hello {}, your semestral grade is: {}".format(name, score))

Hello Harry, your semestral grade is: 89.1234

In this example given the variables score and name, so whatever the user input to these variables it will appear once you run it. The .format() function is used to format values and insert them to inside the string placeholder.

# Looping Statements

Looping statements are a series of steps that will continuously run or execute until the given condition is satisfied [7]. There are two primitive loop commands that are available in python.

The following are:

*   While Loop
*   For Loop

## While

*While Loop Statement* will run until the statement is proven true.

In [ ]:
## while loops
x = 1
while (x <= 20):
  if x % 2 == 0:
     print(x," is an even number")
  else: 
     print(x," is an odd number")
  x += 1

1  is an odd number
2  is an even number
3  is an odd number
4  is an even number
5  is an odd number
6  is an even number
7  is an odd number
8  is an even number
9  is an odd number
10  is an even number
11  is an odd number
12  is an even number
13  is an odd number
14  is an even number
15  is an odd number
16  is an even number
17  is an odd number
18  is an even number
19  is an odd number
20  is an even number

The code above shows that the variable x will continuously execute until it reaches '20'.

## For

*For Loop Statement* is used to repeat a series of statements to a specific number of times.

In [ ]:
for num in range(5):
   for i in range(num):
     print(num, end= " ")
   print(" ")

1
2 2
3 3 3
4 4 4 4

The code presented above shows the variable x is given the value of 5, this dictates the row and numerical limit of your output. Next, an outer for loop is placed, this is to control over the printing of new lines.

```
outer for loop
# for num in range(5):
```

The inner for loop is used to print the numbers, it should be noted that the limit of printing for the inner loop is limited by the iterable of the outer loop. This is to control the number of outputs the inner loop prints and it will increase as the iterable of the outer loop increases

```
inner for loop
# for i in range(num):
```

Lastly, a new line is printed every time the loop runs 1 time to enter a new line.

---
 Note: iteration - to repeat

# Flow Control

## Condition Statements
Condition statements is statement that controls the flow of executing depending on some condition. Unlike other programming language that uses curly brackets, python relies on indention to define the scope of the the line. [2]

In [ ]:
answer = input("Do read manga?: ")

if(answer == "yes"):
  print("sugoi sugoi sugoi")
elif(answer == "no"):
     print("kanashii-desu")
else:
    print("dame yo! dame dame")

Do read manga?: yes
sugoi sugoi sugoi

In this example, given the variable "answer", the user can input what is their answer based on the question and if the user answer is yes it will print "sugoi sugoi sugoi". If the user answer is no then another condition which we use elif keyword it will print "kanashii-desu". The else keyword catches anything which isn't caught by the preceding conditions. So if the the user is neither yes or no then it will print "dame yo! dame dame".

# Functions
A function is a block of code which only runs when it is called. Allows you to pass data, known as paremeters,into a function and it can also return data as result. 

"def" is short for define. It is use to define a function so all the code you put between def function_name() and end will be executed every time you call the function_name. [3]

In [ ]:
def compute_grade():
    name = input("Enter you name: ")
    course = input("Enter the name of the course:")
    prelim = float(input("Enter prelim grade: "))
    midterm = float(input("Enter midterm grade: "))
    finals = float(input("Enter final grade: "))
    pg, mg, fg = 0.3, 0.3, 0.4
    sem_grade = prelim*pg + midterm*mg + finals*fg
    print("Hello {}, your semestral grade is: {}".format(name, sem_grade))
    if(sem_grade > 70):
        print("\U0001F600")
    elif(sem_grade==70):
         print("\U0001F923")
    else:
        print("\U0001F619")
compute_grade()

Enter you name: Ni-ki
Enter the name of the course:BSCpE
Enter prelim grade: 89
Enter midterm grade: 95
Enter final grade: 86
Hello Ni-ki, your semestral grade is: 89.6
ðŸ˜€

Given the code above is an example of graded calculator, where we defined the function compute_grade and perform all the codes inside of it then call the fucntion name at the end of the codes, in order to see output.

In [ ]:
def subtract(a,b):
  return a - b;

In [ ]:
subtract(100, 50)

50

In this example we defined the function subtract which the parameters are a and b, so whatever the values that the user will inputs for a and b it will perform the operation.

###**Lambda Functions**

A lambda function is a small anonymous function. It can only have one expression while able to take any number of arguments. [9]

This can be expressed by the syntax:


```
# lambda arguments : expression
```
*NOTE: Arguments are not limited to one, it can take multiple variables.*

In [ ]:
def raiseMe(n):
  return lambda a: a**n

In this line of code we can see the lambda being used in a function **'raiseMe'**
and it's expression that raises the argument **'a'** to **'n'** and takes the **'n'** as a multiplier

In [ ]:
squared = raiseMe(2)
cubed = raiseMe(3)

After creating the initial function. The lambda function are being used and assign into different function that uses the expression, where **squared** function uses the expression inside the function to always raise it into 2 and **cubed** into 3.

In [ ]:
print(squared(4))
print(cubed(4))

16
64

When the function is being used, the value inside the parenthesis are being raised depending on where it is paired if it will be **squared** or **cubed.**



##References:

[1] Edureka (2021). [**Edureka!: What Are Variables And Data Types In Python?**](https://www.edureka.co/blog/variables-and-data-types-in-python/#:~:text=Range-,What%20Are%20Variables%20In%20Python%3F,future%20according%20to%20the%20specifications.)

[2]  W3 Schools (2021). [***W3 Schools: Python Conditions***](https://www.w3schools.com/python/python_conditions.asp)

[3] W3 Schools (2021). [***W3 Schools: Python Functions***](https://www.w3schools.com/python/python_functions.asp)

[4] Python - basic operators. (n.d.).[**Tutorials Point: Python Comparison Operators**](https://www.tutorialspoint.com/python/python_basic_operators)

[5] GeeksforGeeks (2020). [***GeeksforGeeks: Python Operators***](https://www.geeksforgeeks.org/python-operators/)

[6] GeeksforGeeks (2020). [***GeeksforGeeks: Assignment Operators in Python***](https://www.geeksforgeeks.org/assignment-operators-in-python/)

[7] CheggStudy (2021). [**CheggStudy: Loop Statement**](https://www.chegg.com/homework-help/definitions/loop-statement-3#:~:text=A%20loop%20statement%20is%20a,to%20execute%20the%20statement%20repeatedly.)

[8] GeeksforGeeks (2020). [***GeeksforGeeks: Python Logical Operators with Examples***](https://www.geeksforgeeks.org/python-logical-operators-with-examples-improvement-needed/)

[9]  W3 Schools (2021). [***W3 Schools: Python Lambda***](https://www.w3schools.com/python/python_lambda.asp)